<%- include("../partials/header") %>

<ul>
  <% for (let cluck of clucks) { %>
    <li>
      <div class="cluck">
        <div class="chickenNav">
          <img src=/images/chicken.jpeg alt="Chicken">
        </div>
        <div class="cluckSpecifics">
          <div class="cluckheading">
            <%= cluck.username + "   -   " + cluck.created_at%>
           
          </div>
          <%= cluck.content %>          
          <% if (cluck.image_url && cluck.image_url.length > 0) { %>
            <div class="cluckImage">
              <img src=<%= cluck.image_url %> alt="Cluck image">
            </div>                     
          <% } %>               
        </div>
      </div>
    </li>
  <% } %>
</ul>

<%- include("../partials/footer") %>